################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/mongoose-5.0.exe
/avgSpeed2.html
/avgSpeed3.html

/avgSpeed2.css
/avgSpeed2.js
/avgSpeed2Data.js
/avgSpeed2Startup.js
/avgSpeed3.css
/avgSpeed3.js
/avgSpeed3Data.js
/avgSpeed3Startup.js
/avgSpeed4Startup.js
/manifest.json
/meta.json
/sw.js
/sw3.js
/web.config


